{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% endif %} Products
{% endblock %}

{% block content %}
</head>
<body>
<div>
    <h3>Categories</h3>
    <ul>
        {% for c in categories %}
            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    {% for product in products %}
        <div class="item" style="clear:both;">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}no_image.png{% endif %}" style="max-width:300px;">
            </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br/>
            ${{ product.price }}
        </div>
    {% endfor %}
</div>
{% endblock %}